{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Deposit or Withdraw{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="amount">Amount</label>
    <input name="amount" id="amount"
      value="{{ request.form['amount'] or account['amount'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('account.delete', id=account['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}