{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value={{username}} disabled={{ true }}>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
	<label for="firstname">First Name</label>
    <input name="firstname" id="firstname" required>
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname" required>
	<label for="phonenumber">Phone Number</label>
    <input name="phonenumber" id="phonenumber">
    <input type="submit" value="Register">
  </form>
{% endblock %}